pandas
numpy
pymc3
xeus-python
ipywidgets
seaborn
plotly
jupyterlab_widgets
nodejs
pyspark
torch
tensorflow
keras
jupyter-git
utm
nbdime
jupyter-autotime
jupyterlab-pullrequests
lckr-jupyterlab-variableinspector
git+https://github.com/pyrocko/kite